:root{
    --color-primario: #001233;
    --color-secundario: #ff5200;
    --color-terciario: #EFE0CA;
    --color-cuaternario: #F9F3EA;
    --color-quinario: #f9f3ea;

    --font-logo:  "Libre Franklin", system-ui;
    --font-texto: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
    font-size: 5rem; 
  }
  
  h2 {
    font-size: 2rem; 
  }
  
  h3 {
    font-size: 2.75rem; 
  }
  
  h4 {
    font-size: 1.5rem; 
  }
  
  h5 {
    font-size: 1.25rem; 
  }
  
  h6 {
    font-size: 1rem; 
}
  
:root {
    --color-primario: #001233;
    --color-secundario: #ff5200;
    --color-secundario-hover: #ff8740;
    --color-terciario: #EFE0CA;
    --color-cuaternario: #F9F3EA;
    --color-quinario: #f9f3ea;
    --font-logo: "Libre Franklin", system-ui;
}


.navbar{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.navbar-brand{
    padding-left: 150px;
}

.navbar-nav{
    padding-right: 150px;

}

.navbar-custom {
    justify-content: center;
  }
  
  .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-nav .nav-item {
    margin: 0 10px; /* Puedes ajustar este valor para dar más o menos espacio entre los ítems */
  }
  

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    font-family:var(--font-logo);
    font-size: 32px;
    line-height: 1;
}

.logo-arriba{
    font-size: 42px;
    font-weight: 900;
    color: var(--color-secundario);
    text-transform: uppercase;
}

.logo-abajo{
    font-size: 42px;
    font-weight: 900;
    color: var(--color-secundario);
    text-transform: uppercase;
}

.navbar .nav-link{
    color:var(--color-secundario);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.navbar .nav-link:hover{
    color: var(--color-quinario);

}
.navbar-toggler{
    border-color: var(--color-secundario);
}

/* footer css */
.footer-custom {
    background-color: #001f3f;
    color: white;
    padding: 10px 0;
}

.footer-text-orange {
    color: #FFA500;
}
.footer-logo {
    height: 40px;
    filter: brightness(0) invert(1);
}

/* footer css */


/*soporte*/
.container-soporte {
    padding: 2rem;
    background-color: var(--color-cuaternario);
}

.rectangle {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 100%; 
}


.rectangle span {
    color: var(--color-secundario);
}

.contenedor-circulos {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
}


.contenedor-circulos h2 {
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    color: var(--color-primario);
}


.square-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto; 
}


.circle {
    width: 30%; 
    padding-top: 30%; 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.circle a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.9rem;
    background-color: var(--color-secundario);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

  .contenedor-apartado-soporte{
    margin-top: 100px;
    text-align: start;

  }

  .descrip{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: right;
    padding-top: 120px;
}

.descrip h3{
    color: var(--color-primario);
    font-weight: bold;
    text-align: left;
}

.descrip p{
    text-align: left;
}

.tarjeta-separada {
    margin-bottom: 200px;
}


.descrip h3 {
    font-size: 2rem; 
    color: var(--color-secundario); 
    text-align: start;
}

.descrip p {
    font-size: 1.25rem; 
    color: var(--color-primario); 
    text-align: start; 
}
/*soporte*/


@media (max-width: 768px) {
    .container-soporte {
        padding: 1.5rem; 
    }

    .rectangle {
        padding: 3rem; 
        margin-top: 60px;
        flex-direction: column; 
    }

    

    .circle {
        width: 45%; 
        padding-top: 45%;
    }

    .circle a {
        font-size: 0.5rem; 
    }
    .contenedor-apartado-soporte {
        text-align: center; 
    }

    .descrip h3 {
        text-align: center; 
    }

    .descrip p {
        text-align: center;
    }
    
}

@media (max-width: 576px) {
    .container-soporte {
        padding: 1rem; 
    }

    .rectangle {
        padding: 2rem; 
        margin-top: 40px; 
    }


    .circle {
        width: 80%; 
        padding-top: 80%;
    }

    .circle a {
        font-size: 0.5rem; 
    }
    .contenedor-apartado-soporte {
        text-align: center; 
    }

    .descrip h3 {
        text-align: center; 
    }

    .descrip p {
        text-align: center;
    }
    
}

    /* Contacto */
    #main-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        font-family: var(--font-texto);
        gap: 65px;
    }
    #contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #contacto div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid var(--color-primario);
        border-radius: 8px;
        background-color: var(--color-cuaternario);
        padding: 32px 0;
        gap: 10px;
    }
    #contacto div p {
        margin: 0;
        font-size: 32px;
    }
    #consultas {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 50px);
        padding: 0 100px 50px 100px;
        border: 1px solid var(--color-primario);
        border-radius: 8px;
        background-color: var(--color-cuaternario);
    }
    #consultas form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 50px;
    }
    .form-group {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .form-group label {
        font-size: 24px;
        width: 400px;
    }
    .form-group input {
        width: 100%;
        max-width: 1120px;
        height: 43px;
        font-size: 32px;
        border: 1px solid var(--color-primario);
        border-radius: 8px;
    }
    .form-group div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1120px;
    }
    .form-group div textarea {
        width: 100%;
        max-width: 1120px;
        height: 200px;
        font-size: 32px;
        border: 1px solid var(--color-primario);
        border-radius: 8px;
    }
    .form-group div button {
        width: 221px;
        height: 43px;
        border-radius: 8px;
        background-color: var(--color-primario);
        font-size: 32px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #oficina {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
    #oficina div {
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 100%;
    }
    #oficina div iframe {
        min-width: 860px;
        height: 600px;
    }
    #oficina div div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #oficina div div p {
        margin: 0;
        font-size: 32px;
    }
    @media (max-width: 992px) {
        #main-contacto {
            padding: 20px;
            gap: 25px;
        }
        #contacto div p {
            font-size: 24px;
            text-align: center;
        }
        #consultas {
            padding: 0 25px 25px 25px;
        }
        .form-group {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .form-group div {
            align-items: center;
        }
        #oficina div {
            flex-direction: column;
        }
    }
