:root{
    --color-primario: #001233;
    --color-secundario: #ff5200;
    --color-terciario: #EFE0CA;
    --color-cuaternario: #F9F3EA;
    --color-quinario: #f9f3ea;

    --font-logo:  "Libre Franklin", system-ui;
}

h1 {
    font-size: 5rem; 
  }
  
  h2 {
    font-size: 2rem; 
  }
  
  h3 {
    font-size: 2.75rem; 
  }
  
  h4 {
    font-size: 1.5rem; 
  }
  
  h5 {
    font-size: 1.25rem; 
  }
  
  h6 {
    font-size: 1rem; 
}
  
.body{
    font-family: "Montserrat", sans-serif;
}


.navbar{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.navbar-brand{
    padding-left: 150px;
}

.navbar-nav{
    padding-right: 150px;

}

.navbar-custom {
    justify-content: center;
  }
  
  .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-nav .nav-item {
    margin: 0 10px; /* Puedes ajustar este valor para dar más o menos espacio entre los ítems */
  }
  

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    font-family:var(--font-logo);
    font-size: 32px;
    line-height: 1;
}

.logo-arriba{
    font-size: 42px;
    font-weight: 900;
    color: var(--color-secundario);
    text-transform: uppercase;
}

.logo-abajo{
    font-size: 42px;
    font-weight: 900;
    color: var(--color-secundario);
    text-transform: uppercase;
}

.navbar .nav-link{
    color:var(--color-secundario);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.navbar .nav-link:hover{
    color: var(--color-quinario);

}
.navbar-toggler{
    border-color: var(--color-secundario);
}
/* footer css */
/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-image: url();
}

/* Estilos del footer */
.custom-footer {
    background-color: var(--color-primario); /* Ajusta el color de fondo según tus necesidades */
    padding: 20px 0; /* Ajusta el valor según la cantidad de espacio que necesites */
    width: 100%;
    position: relative;
    bottom: 0;
}

.custom-container {
    width: 90%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-col-9, .custom-col-3 {
    flex: 1;
    text-align: center;
}

.custom-footer-text, .custom-small {
    color: var(--color-secundario); /* Ajusta el color según tus necesidades */
    white-space: nowrap; /* Asegura que el texto se muestre en una sola línea */
}

.custom-footer-logo {
    max-width: 100px; /* Ajusta el tamaño según tus necesidades */
    margin-left: 30px; /* Ajusta el margen según tus necesidades */
}

.mb-0 {
    margin-bottom: 0;
}

.custom-small {
    font-size: 0.875rem;
}

/* footer css */

<<<<<<< HEAD

/*soporte*/
.container-soporte {
=======
/* Logo contenido PAG */

.text-center {
  padding: 5px;
  font-size: 42px;
  font-weight: 900;
  color: var(--color-secundario);
  text-transform: uppercase;
}

.text-center2 {
  font-size: 42px;
  font-weight: 450;
  color: var(--color-secundario);
  text-transform: uppercase;
}

/* Logo contenido PAG */

/* Contenido PAG */

main {
  background-image: url(../img/Sprinkle.svg);
}

.container-izq, .container-img {
  padding: 10px; 
  width: 100%; 
  box-sizing: border-box; 
}

.container-izq {
  margin-right: 20px; 
  background: var(--color-cuaternario);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container-img {
  margin-left: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px; /* Ajusta este valor para mover la imagen más arriba */
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}

.content-section2 {
  margin-top: 30px; /* Ajusta este valor según la cantidad de espacio que necesites */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Asegura que los contenedores tengan la misma altura */
  width: 100%;
}

.texto {
  font-size: 14px;
  font-weight: 450;
  text-align: left;
  color: var(--color-primario);
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  line-height: 1.5; /* Ajusta la altura de la línea según tus necesidades */
  word-wrap: break-word; /* Permite que las palabras largas se dividan */
}

.col-md-6 {
  flex: 1;
  display: flex;
  flex-direction: column; /* Cambiado a columna para alinear el botón debajo */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text-center {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior del botón */
}

.btn {
  margin-top: 20px; /* Ajusta el margen superior del botón */
}


/* Contenido PAG */

.container-soporte{
>>>>>>> 8baf92b38663aca44f4dc76e5d87bb042a674a16
    padding: 2rem;
    background-color: var(--color-cuaternario);
}

.rectangle {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 100%; 
}


.rectangle span {
    color: var(--color-secundario);
}

.contenedor-circulos {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
}


.contenedor-circulos h2 {
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 10px;
    color: var(--color-primario);
}


.square-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto; 
}


.circle {
    width: 30%; 
    padding-top: 30%; 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.circle a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.9rem;
    background-color: var(--color-secundario);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

  .contenedor-apartado-soporte{
    margin-top: 100px;
    text-align: start;

  }

  .descrip{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: right;
    padding-top: 120px;
}

.descrip h3{
    color: var(--color-primario);
    font-weight: bold;
    text-align: left;
}

.descrip p{
    text-align: left;
}

.tarjeta-separada {
    margin-bottom: 200px;
}
/*soporte*/


@media (max-width: 768px) {
    .container-soporte {
        padding: 1.5rem; 
    }

    .rectangle {
        padding: 3rem; 
        margin-top: 60px;
        flex-direction: column; 
    }

    

    .circle {
        width: 45%; 
        padding-top: 45%;
    }

    .circle a {
        font-size: 0.5rem; 
    }
    .contenedor-apartado-soporte {
        text-align: center; 
    }

    .descrip h3 {
        text-align: center; 
    }

    .descrip p {
        text-align: center;
    }
    
}

@media (max-width: 576px) {
    .container-soporte {
        padding: 1rem; 
    }

    .rectangle {
        padding: 2rem; 
        margin-top: 40px; 
    }


    .circle {
        width: 80%; 
        padding-top: 80%;
    }

    .circle a {
        font-size: 0.5rem; 
    }
    .contenedor-apartado-soporte {
        text-align: center; 
    }

    .descrip h3 {
        text-align: center; 
    }

    .descrip p {
        text-align: center;
    }
    
}